@media (max-width: 1200px) {

    .subheader {
        max-width: 1030px;

        &_container {
            gap: 35px;
        }

        &_item {

            &-phone {
                margin-left: 30px;
            }

            &-logo {
                margin-right: 70px;
            }
        }
    }

    .promo {

        &_container {
            max-width: 1030px;
        }
    }

    .menu {
        &_container {
            max-width: 1030px;
        }

        &_img {
            &-item {
                img {
                    width: 255px;
                }
            }
        }
    }

    .frame-wrap {
        width: 380px;
        height: 420px;
        top: 65px;
        left: -460px;

        .frame {
            width: 380px;
            height: 420px;
        }
    }

    .quote {
        &_container {
            max-width: 1030px;
        }
    }
}

@media (max-width: 991px) {

    .subheader {
        width: 920px;

        &_container {
            gap: 25px;
        }

        &_item {

            &-phone {
                margin-left: 20px;
            }

            &-logo {
                margin-right: 30px;
            }
        }
    }

    .promo {

        &_container {
            max-width: 920px;
        }

        &_descr {
            font-size: 60px;
        }
    }

    .menu {
        &_container {
            max-width: 920px;
        }

        &_item {
            width: 430px;

            &-tittle {
                font-size: 22px;
            }

            &-text {
                font-size: 16px;
            }
        }


        &_img {
            margin-left: 10px;

            &-item {
                img {
                    width: 230px;
                }
            }
        }
    }

    .frame-wrap {
        width: 280px;
        height: 380px;
        top: 65px;
        left: -390px;

        .frame {
            width: 280px;
            height: 380px;
        }
    }

    .quote {
        &_container {
            max-width: 920px;
        }
    }
}

@media (max-width: 767px) {

    .subheader {
        width: 700px;

        &_container {
            gap: 13px;
        }

        &_item {

            a {
                font-size: 14px;
            }

            &-phone {
                margin-left: 10px;

                a {
                    font-size: 14px;
                }

                img {
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }

            &-logo {
                margin-right: 12px;

                img {
                    height: 40px;
                }
            }
        }
    }

    .promo {

        &_container {
            width: 700px;
        }

        &_header {
            font-size: 22px;
        }

        &_descr {
            font-size: 58px;
        }
    }

    .menu {
        &_container {
            width: 700px;
        }

        &_item {
            width: 350px;

            &-tittle {
                font-size: 20px;
                margin-top: 10px;
            }

            &-text {
                font-size: 16px;
                padding: 0 0 20px;

            }
        }


        &_img {
            flex-direction: column;
            margin-left: 20px;

            &-item {
                margin-right: 0;
                padding-top: 10px;

                img {
                    width: 300px;
                }

                &:last-child {
                    display: none;
                }
            }
        }
    }

    .frame-wrap {
        width: 280px;
        height: 420px;
        top: 105px;
        left: -253px;

        .frame {
            width: 280px;
            height: 420px;
        }
    }

    .quote {
        height: 650px;

        &_container {
            padding-top: 0;
            width: 700px;
        }

        &_item {
            width: 550px;

            &-tittle {
                font-size: 30px;
                line-height: 35px
            }

            &-descr {
                font-size: 12px;
                line-height: 32px;
            }

            &-signature {
                font-size: 22px;
            }
        }
    }
}

@media (max-width: 575px) {

    .hamburger {
        z-index: 90;
        display: block;
        position: absolute;
        right: 30px;
        top: 40px;
        transform: translateY(-50%);
        width: 30px;
        height: 26px;
        caret-color: transparent;

        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: #fff;
            margin-bottom: 4px;
            transition: 0.5s all;
        }

        &.active {
            span {
                margin-bottom: -2px;

                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }

                &:nth-child(2) {
                    display: none
                }

                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }

        }

    }

    .subheader {
        width: 480px;

        &_container {
            padding-top: 0;
        }

        &_item {
            display: none;

            &-logo {
                margin-right: 25px;

                img {
                    height: 70px;
                }
            }
        }
    }

    .promo {

        &_container {
            width: 480px;
        }

        &_descr {
            font-size: 57px;
            line-height: 80px;
        }

        &_reserve {

            &-btn {
                width: 180px;
                height: 90px;
            }
        }

        &_social {
            gap: 10px;
        }
    }

    .menu {
        &_container {
            width: 480px;
        }

        &_item {
            margin-left: 15px;
            width: 410px;

            &-tittle {
                font-size: 22px;
            }

            &-text {
                font-size: 18px;
            }
        }

        &_img {
            display: none;
        }
    }

    .frame-wrap {
        width: 460px;
        height: 660px;
        top: -10px;
        left: -425px;

        .frame {
            width: 460px;
            height: 660px;
        }
    }

    .quote {
        height: 550px;

        &_container {
            width: 480px;
        }

        &_item {
            width: 340px;

            &-tittle {
                font-size: 28px;
                line-height: 38px
            }

            &-descr {
                font-size: 10px;
                line-height: 22px;
            }

            &-signature {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 480px) {

    .hamburger {
        top: 45px;
        right: 10px;
    }

    .subheader {
        width: 100%;

        &_item {

            &-logo {
                margin-right: 45px;

                img {
                    height: 45%;
                }
            }
        }
    }

    .promo {

        &_container {
            padding-top: 100px;
            width: 80%;
        }

        &_header {
            font-size: 26px;
        }

        &_descr {
            font-size: 46px;
            line-height: 54px;
        }

        &_reserve {
            flex-direction: column-reverse;
            gap: 40px;

        }

        &_social {
            gap: 20px;
        }
    }

    .menu {
        &_container {
            width: 80%;
        }

        &_item {
            margin-left: 15px;
            width: 250px;

            &-text {
                font-size: 16px;
            }
        }
    }

    .frame-wrap {
        display: none;
        width: 400px;
        height: 660px;
        top: -10px;
        left: -265px;

        .frame {
            width: 400px;
            height: 700px;
        }
    }

    .quote {
        height: 100%;

        &_container {
            width: 80%;
        }

        &_item {
            width: 340px;

            &-tittle {
                font-size: 28px;
                line-height: 38px
            }

            &-descr {
                font-size: 10px;
                line-height: 22px;
            }

            &-signature {
                font-size: 18px;
            }
        }
    }

    .swiper {
        margin-top: 100px !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .swiper-pagination {
        margin-bottom: 10px !important;
    }

    .swiper-pagination-bullet {
        width: 20px !important;
        height: 2px !important;
        line-height: 20px;
        font-size: 14px;
        background-color: #D3B47F;

    }
}

@media (max-width: 320px) {

    // .hamburger {
    //     right: 20px;
    //     top: 50px;
    // }

    // .subheader {
    //     width: 80%;

    //     &_item {

    //         &-logo {
    //             margin-right: 45px;

    //             img {
    //                 height: 25%;
    //             }
    //         }
    //     }
    // }

    // .promo {

    //     &_container {
    //         padding-top: 140px;
    //         width: 280px;
    //     }

    //     &_header {
    //         font-size: 16px;
    //     }

    //     &_descr {
    //         font-size: 42px;
    //         line-height: 50px;
    //         margin: 25px 0 55px;
    //     }

    //     &_reserve {
    //         gap: 50px;
    //     }

    //     &_social {
    //         gap: 15px;
    //     }
    // }

    .menu {
        &_container {
            width: 80%;
        }

        &_item {
            margin-left: 15px;
            width: 200px;

            &:nth-child(2) {
                width: 200px;

                span {
                    &:nth-child(3) {
                        margin-right: 35px;
                    }
                }
            }

            &-tittle {
                font-size: 20px;
            }

            &-text {
                font-size: 12px;

                span {
                    &:nth-child(3) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .frame-wrap {
        display: none;
        width: 100px;
        height: 100px;
        top: -10px;
        left: -220px;

        .frame {
            width: 260px;
            height: 715px;
        }
    }
}
