.modal_overlay {
    &.active {
        display: block;
    }

    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
}

.modal {
    &.active {
        display: block;
    }

    display: none;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    min-height: 220px;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 30px;

    &__close {
        position: absolute;
        top: 5px;
        right: -35px;
        font-size: 41px;
        line-height: 21px;
        color: #4d5783;
        cursor: pointer;
        caret-color: transparent;

        &:hover {
            color: #7179a0;
        }
    }

    &__content {

        &-tittle {
            caret-color: transparent;
            margin-top: 5px;
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
        }

        &-form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &-input {
            padding: 0 20px;
            height: 35px;
            padding-bottom: 3px;
            border: none;
            border-bottom: 1px solid #3A4574;
            color: #1E1E1E;
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 300;

            &::placeholder {
                color: #999999;
            }

            &:focus,
            :active,
            :focus-visible {
                outline: none;
                background-color: transparent !important;
            }
        }

        &-btn {
            height: 50px;
            border: none;
            background: #3A4574;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            cursor: pointer;
            caret-color: transparent;
            margin-top: 10px;
            margin-bottom: 10px;

            &:hover {
                background: #4d5783;
                ;
                transition: all .4s;
            }
        }
    }
}
