.navigation {
    z-index: 50;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    transition: 0.6s all;

    &.active {
        left: 0;
    }

    &_container {
        position: fixed;
        top: 0;
        left: 50px;
    }

    background: #4d5783;
    display: flex;
    justify-content: space-between;
    padding: 80px 70px;
    margin: 0;
    list-style-type: none;

    &_list {
        width: 300px;
        padding: 5px;

        li {
            list-style-type: none;
            margin: 15px 0 0 25px;

            &:nth-child(5) {
                margin-top: 70px;
            }

            a {
                text-decoration: none;
            }
        }

        &-item {
            margin-left: 10px;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #ffffff;

            &-phone {
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #D3B47F;
            }
        }
    }

    &_social {
        margin: 90px 0 0 30px;
        padding-bottom: 10px;

        a {
            margin: 10px;
        }
    }

}

.overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .3;

    &.active {
        visibility: visible;
    }
}
