
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@import "./style/subgeader";
@import "./style/promo";
@import "./style/menu";
@import "./style/quote";
@import "./style/modal";
@import "./style/navigation";
@import "./style/media";
@import "./style/hamburger";
